@use "../config" as *;
@use "sass:math";
.feature-card-container{
background-image: linear-gradient($cyan_primary, $cyan_primary);
background-size: 80% 5px;
background-repeat: no-repeat;
background-position: 55% 55%;
display: grid;
grid-template-columns:repeat(3,minmax(300px,1fr));
justify-content: start;
gap:1.2rem;
@media screen and (max-width:1058px) {
    grid-template-columns:repeat(3,minmax(200px,1fr));
    gap:1.1rem
}
@media screen and (max-width:842px) {
    grid-template-columns:repeat(3,minmax(100px,1fr));
    gap:1rem
}

@for $i from 1 through 3 {
    $add:0rem;
    @if($i==1){
        $add:4rem;
    }@else if ($i==2){
        $add:calc(#{$i}rem + 5rem);
    }@else{
        $add:calc(#{$i}rem + 7rem);
    }
     .featureCard-#{$i}{
        height: fit-content;
        width: fit-content;
        padding:2rem;
        box-shadow: 1px 1px 4px 0px $gray_neutral;
        background-color: white;
        position: relative;
        margin-top:$add;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:1rem;
        &__img-container{
            position: absolute;
            top:-1.8rem;
            left:2rem;
            padding:0.8rem;
            max-width: fit-content;
            border-radius:100%;
            background-color:$very_dark_blue;
            img{
                width: 30px;
                vertical-align: middle;
                height: auto;
            }
        }
        & > h2{
            font-size: 2vw;
            margin-top: 1rem;
        }
        & > p{
            color:$grayish_violet;
            font-size: 1vw;
        }
        @include mobile{
            margin-top: 3rem;
            &__img-container{
            left: 50%;
            transform: translate(-50%, -15%);
            img{
                width: 35px;
            }
            }
            & > h2{
                font-size:4vw;
            }
            & > p{
                font-size:3vw;
            }
        }
    }
}
@include mobile{
    grid-template-columns: repeat(1,0.8fr);
    justify-content: center;
    background:linear-gradient($cyan_primary,$cyan_primary) center/5px 80% no-repeat;
}
}
