@use "../config" as *;
.user-action-card {
    position: relative;
    z-index: 20;
    top: -3.5rem;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem 2rem 0.8rem;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark_violet_primary;
    border-radius: 5px;
    &__inputcontainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 70%;
        &__input {
            padding: 0.7rem;
            width: auto;
            border-radius: 5px;
            outline: none;
            border: 3px solid white;
            font-size: medium;
            &:focus {
                border-color: $gray_neutral;
            }
            &.invalid {
                border-color: rgb(255, 0, 43);
                color: rgb(255, 0, 43);
            }
            &.invalid::placeholder {
                color: rgb(255, 0, 43);
            }
        }
        & > span {
            font-style: italic;
            color: rgb(255, 0, 43);
            font-size: small;
        }
    }
    &__btn {
        @include button {
            border: none;
            height: max-content;
            padding: 0.8rem 1.5rem;
            border-radius: 5px;
        }
    }
    @media screen and (max-width: 537px) {
        background-image: url("../images/bg-shorten-mobile.svg");
        gap: 0.5rem;
        &__inputcontainer {
            width: 100%;
        }
        &__btn {
            width: 100%;
        }
    }
}
