@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4vw;
  padding: 2rem 0rem;
  padding-left: 5rem;
  padding-right: 2rem;
}
nav img {
  width: 5rem;
  height: 1.5rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
nav ul a {
  text-decoration: none;
  color: hsl(257deg, 7%, 63%);
  vertical-align: top;
}
nav ul a:hover {
  color: hsl(260deg, 8%, 14%);
}
nav .auth {
  margin-left: auto;
}
nav .auth__nav-button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 5px 15px;
  border-radius: 1rem;
}
nav .auth__nav-button:hover {
  color: white;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in;
  opacity: 0.4;
}
nav .auth .nav-menu {
  display: none;
}
@media screen and (max-width: 715px) {
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  nav img {
    margin-right: auto;
  }
  nav .nav-menu {
    cursor: pointer;
  }
  nav .nav-menu div {
    padding: 2px 15px;
    margin-top: 5px;
    background-color: hsl(0deg, 0%, 75%);
    margin-left: auto;
  }
  nav ul, nav .auth {
    display: none;
  }
}

header {
  position: relative;
  z-index: 10;
  display: flex;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 2rem;
  gap: 2rem;
  align-items: stretch;
  width: 100vw;
}
header div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
header div h1 {
  font-size: 5vw;
  line-height: 6.5vw;
}
header div p {
  font-size: 2vw;
  margin-right: auto;
  color: hsl(0deg, 0%, 75%);
}
header div button {
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  cursor: pointer;
  text-align: center;
  margin-right: auto;
  padding: 10px 18px;
  border: none;
  border-radius: 1rem;
}
header div button:hover {
  color: white;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in;
  opacity: 0.4;
}
header img {
  height: auto;
  padding-right: 2rem;
  width: 50vw;
}
@media screen and (max-width: 715px) {
  header {
    padding: 0rem;
    padding-bottom: 5rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  header div {
    margin-left: 0rem;
    gap: 1rem;
  }
  header div h1 {
    text-align: center;
    line-height: 4rem;
    font-size: 10vw;
  }
  header div p {
    text-align: center;
    font-size: 3vw;
    padding: 0rem 3rem;
  }
  header div button {
    margin: auto;
  }
  header img {
    padding: 0rem 1rem;
    margin: auto;
    width: 100%;
    height: auto;
  }
}

.user-action-card {
  position: relative;
  z-index: 20;
  top: -3rem;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(255deg, 11%, 22%);
  border-radius: 5px;
}
.user-action-card__input {
  padding: 0.7rem;
  width: 70%;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: medium;
}
.user-action-card__btn {
  padding: 0.7rem;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.user-action-card__btn:hover {
  color: white;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in;
  opacity: 0.4;
}
@media screen and (max-width: 429px) {
  .user-action-card {
    background-image: url("../images/bg-shorten-mobile.svg");
  }
  .user-action-card__input {
    width: 100%;
  }
  .user-action-card__btn {
    width: 100%;
  }
}

.features {
  margin-top: 2rem;
}
.features__container {
  margin: auto;
  width: auto;
}
.features__container > p {
  color: hsl(257deg, 7%, 63%);
  font-size: small;
  padding: 0rem 3rem;
}
.features__container > h1, .features__container > p {
  text-align: center;
}

.feature-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-content: start;
  gap: 1rem;
}
@media screen and (max-width: 1021px) {
  .feature-card-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 842px) {
  .feature-card-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
.feature-card-container .featureCard-1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  box-shadow: 2px 2px 0.5rem hsl(0deg, 0%, 75%);
  background-color: white;
  position: relative;
  margin-top: 4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature-card-container .featureCard-1__img-container {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  padding: 0.7rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50%;
  background-color: hsl(255deg, 11%, 22%);
}
.feature-card-container .featureCard-1 > h2 {
  font-size: 2vw;
  margin-top: 1rem;
}
.feature-card-container .featureCard-1 > p {
  color: hsl(257deg, 7%, 63%);
  font-size: 1vw;
}
@media screen and (max-width: 715px) {
  .feature-card-container .featureCard-1 {
    margin-top: 3rem;
  }
  .feature-card-container .featureCard-1 > h2 {
    font-size: 4vw;
  }
  .feature-card-container .featureCard-1 > p {
    font-size: 3vw;
  }
}
.feature-card-container .featureCard-2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  box-shadow: 2px 2px 0.5rem hsl(0deg, 0%, 75%);
  background-color: white;
  position: relative;
  margin-top: calc(2rem + 5rem);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature-card-container .featureCard-2__img-container {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  padding: 0.7rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50%;
  background-color: hsl(255deg, 11%, 22%);
}
.feature-card-container .featureCard-2 > h2 {
  font-size: 2vw;
  margin-top: 1rem;
}
.feature-card-container .featureCard-2 > p {
  color: hsl(257deg, 7%, 63%);
  font-size: 1vw;
}
@media screen and (max-width: 715px) {
  .feature-card-container .featureCard-2 {
    margin-top: 3rem;
  }
  .feature-card-container .featureCard-2 > h2 {
    font-size: 4vw;
  }
  .feature-card-container .featureCard-2 > p {
    font-size: 3vw;
  }
}
.feature-card-container .featureCard-3 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  box-shadow: 2px 2px 0.5rem hsl(0deg, 0%, 75%);
  background-color: white;
  position: relative;
  margin-top: calc(3rem + 7rem);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature-card-container .featureCard-3__img-container {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  padding: 0.7rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50%;
  background-color: hsl(255deg, 11%, 22%);
}
.feature-card-container .featureCard-3 > h2 {
  font-size: 2vw;
  margin-top: 1rem;
}
.feature-card-container .featureCard-3 > p {
  color: hsl(257deg, 7%, 63%);
  font-size: 1vw;
}
@media screen and (max-width: 715px) {
  .feature-card-container .featureCard-3 {
    margin-top: 3rem;
  }
  .feature-card-container .featureCard-3 > h2 {
    font-size: 4vw;
  }
  .feature-card-container .featureCard-3 > p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 715px) {
  .feature-card-container {
    grid-template-columns: repeat(1, 0.8fr);
    justify-content: center;
  }
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}
body main {
  background-color: #F6F6F6;
  padding-left: 5rem;
  padding-right: 2rem;
}
@media screen and (max-width: 715px) {
  body main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}/*# sourceMappingURL=index.css.map */