@use "./nav";
@use "config" as *;
@use "./header";
@use "./main";
@use "./footer";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family:$font-poppins;
    overflow-x: hidden;
    main{
        background-color:#F6F6F6;
        padding-left: 5rem;
        padding-right: 2rem;
        @include mobile{
            padding-left:1rem;
            padding-right:1rem;
        }
    }
}
.container{
    position: relative;
    z-index: 0;
}
.overlay-backdrop{
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
    background:$gray_neutral;
}